* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
    background-image: url(images/background.avif);
}
.home-page1{
  background-image: url(images/home.jpg);
  background-size: cover;
  height: 100vh;
}
/*  CSS of header section */

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.6);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 10px 20px;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  height: 50px;
}

nav {
  float: right;
  padding-top: 1.2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 1.5rem;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #FF00F5;
}

.home-p {
  position: absolute;
  color: white;
  text-align: center;
}
 h2{
  text-align: center;
  background: -webkit-linear-gradient(rgb(229, 10, 211), rgb(3, 171, 208));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 .bonus{
  display: flex;
  position: relative;
  padding: 10%;

}














/* CSS of footer section*/
.footer {
  background-color: #2F2A2A;
  grid-template-columns: 15% 25% 40% 30%;
  font-size: 1.2rem;
  padding: 1.2rem;
  
  
}

.footer-restaurants > ul > li > a{
  text-decoration: none;
  color: #cacaca;
  line-height: 1.5rem;

}
.footer-restaurants > ul > li{
  list-style-type: none;
}
.footer-restaurants > ul > hr{
    width: auto;
    line-height: 1.5rem;
}
.footer-bonus > ul > hr{
  width: auto;
  line-height: 1.5rem;
}

.footer-contact >ul> hr{
  width:auto;
  line-height: 1.5rem;
}

.footer-bonus > ul >li{
  list-style-type: none;
  line-height: 1.5rem;
}
.footer-contact > ul > li{
  list-style-type: none;
  line-height: 1.5rem;
}

.footer-bonus > ul > li > a{
  text-decoration: none;
  color: #cacaca;
  line-height: 1.5rem;
  
}

.footer-contact > ul > li > a{
  text-decoration: none;
  color: #cacaca;
  line-height: 1.5rem;
  
 
}
.footer-top{
  display:flex;
  justify-content: space-around;
  margin: 1.5rem;
  padding: 20px;
  line-height: 1.5rem;
  
}

h5 > a{
  color: white;
  text-decoration: none;
  line-height: 1.5rem;
  
  
  
}


.bottom-title{
  
  padding-left: 16.5vh;
  padding-right: 16.5vh;
  color: white;
  line-height: 1.5rem;
}
.footer-bottom{
  display: flex;
  border-top: 2px solid white;
  justify-content: space-between;
  width: auto;
}
